.alineamiento{
  height: 350px;
  text-align: center;
  padding-right: 80px;
}
.alineamiento-2{
  width: 280px;
  padding-top: 90px;
}
.alineacion-widgets{
  color: white;
  width: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
