/* index*/
@media (max-width: 600px) {
    #contenedor-descripcion {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    #contenedor-descripcion {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .bienvenidos {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .contenedor-tarjeta {
        text-align: center;
        margin: auto;
        align-self: center;
    }
}

@media (max-width: 600px) {
    .bienvenidos {
        text-align: center;
        padding-right: 140px;
    }
}

/*servicios*/
@media all and (max-width: 1023px) {
  .lista-servicios {
    grid-column: 1 / span 3;
    text-align: center;
    list-style-type: none;
    padding-right: 60px;
  }
}

@media all and (max-width: 1023px) {
    .imagenes-servicios {
        grid-column: 1 / span 3;
        height: 210px;
    }
}

@media all and (max-width: 1023px) {
    .imagen-servicios {
        padding-top: 10px;
        margin-left: 120px;
    }
}

@media all and (max-width: 1023px) {
    .lista-servicios3 {
        grid-column: 1 / span 3;
        text-align: center;
        list-style-type: none;
        height: 190px;
        padding-right: 60px;
    }
}

/* Sobre mi*/
@media screen and (max-width: 576px) {
    .contenedor-sobre-mi .contenido-sobre-mi {
        grid-column: 1 / -1;
    }

    .contenedor-sobre-mi .sidebar-sobre-mi {
        grid-column: 1 / -1;
        padding-right: 100px;
    }

    .contenedor-sobre-mi .widget-1-sobre-mi,
    .contenedor-sobre-mi .widget-2-sobre-mi {
        grid-column: span 3;
    }

}

/*tarifas*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
    .contenedor-tarifas {
    grid-template-areas: "titulo-Tarifas titulo-Tarifas titulo-Tarifas titulo-Tarifas"
    "contenido1 contenido1 contenido1 contenido1"
    "widget-1 widget-1 widget-1 widget-2"
    "contenido2 contenido2 contenido2 contenido2"
    "widget-3 widget-3 widget-3 widget-4"
    "pie-tarifas pie-tarifas pie-tarifas pie-tarifas"
}
}

@media screen and (max-width: 600px) {
.contenedor-tarifas {
    grid-template-areas: "titulo-Tarifas titulo-Tarifas titulo-Tarifas titulo-Tarifas"
    "contenido1 contenido1 contenido1 contenido1"
    "widget-1 widget-1 widget-1 widget-1"
    "widget-2 widget-2 widget-2 widget-2"
    "contenido2 contenido2 contenido2 contenido2"
    "widget-3 widget-3 widget-3 widget-3"
    "widget-4 widget-4 widget-4 widget-4"
    "pie-tarifas pie-tarifas pie-tarifas pie-tarifas"
}

.contenedor-tarifas {

    text-align: center;
}

.contenedor-tarifas .widget-1,
.contenedor-tarifas .widget-2,
.contenedor-tarifas .widget-3,
.contenedor-tarifas .widget-4 {
    width: 90%;
}

}

/*contacto y ubicacion*/
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .contenedor-contacto-ubicacion {
    grid-template-areas: "titulo-contacto titulo-contacto"
      "contenido-contacto contenido-contacto"
      "titulo-ubicacion titulo-ubicacion"
      "contenido-ubicacion contenido-ubicacion"
      "mapa mapa"
      "pie pie";


  }

  .contenido-contacto {
    text-align: center;

  }

.contenido-ubicacion {
  padding-left: 170px;
  }
}

@media screen and (max-width: 600px) {
.contenedor-contacto-ubicacion {
  grid-template-areas: "titulo-contacto titulo-contacto"
    "contenido-contacto contenido-contacto"
    "titulo-ubicacion titulo-ubicacion"
    "contenido-ubicacion contenido-ubicacion"
    "mapa mapa"
    "pie pie";
  }

  .contenido-contacto {
    padding-left: 50px;
  }

  .contenido-ubicacion {
    width: 90%;
  }
}