.contenedor-servicios {
display: grid;
grid-template-columns: 60% 40%;
  .titulo-pagina {
    height: 100px;
    grid-column: 1/3;
    text-align: center;
    padding-right: 100px;
  }
  .lista-servicios {
    padding-left: 130px;
    height: 350px;
    margin: 5px;
  }
  .lista-servicios3 {
    padding-left: 130px;
    height: 350px;
    margin: 5px;
  }
  .imagenes-servicios {
    @extend .alineamiento;
    transition: 0.5s;
  }
  .imagen-servicios {
    @extend .alineamiento-2;
    transition: 0.5s;
  }
  .imagenes-servicios:hover{
    transform: scale(1.1, 1.1);
    cursor: pointer;
  }
}

