.contenedor-servicios {
display: grid;
grid-template-columns: 60% 40%;
  .titulo-pagina {
    height: 100px;
    grid-column: 1/3;
    text-align: center;
    padding-right: 100px;
  }
  .lista-servicios {
    padding-left: 120px;
    height: 350px;
  }
  .imagenes-servicios {
    height: 350px;
    text-align: center;
    padding-right: 80px;
  }
  .imagen-servicios {
    width: 280px;
    padding-top: 90px;
  }
  .lista-servicios3 {
    padding-left: 120px;
    height: 350px;
  }
}

