
@import "variables";
@import "mixin";
@import "condicionales";
@import "mapget";
@import "extend";
@import "navbar";
@import "footer";
@import "index";
@import "servicios";
@import "sobre mi";
@import "tarifas";
@import "contacto-ubicacion";
@import "responsive";

* {
  margin: 0;
}
body {
  padding-top: 90px;
  background:linear-gradient(rgb(241, 236, 236), white);
}

