@import "index";
@import "servicios";
@import "sobre mi";
@import "tarifas";
@import "responsive";



* {
  margin: 0;
    
}

body {
  padding-top: 90px;
  background: gray;
}

.navbar {
  box-shadow: 0 4px 5px #e5e5e5;
  background-color: rgb(217, 214, 211);
  .logo {
    height: 50px;
    border-radius: 50px;
  }
}



















/*pagina contacto y ubicacion */

.contenedor-contacto-ubicacion {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "titulo-contacto titulo-contacto"
        "contenido-contacto contenido-contacto"
        "titulo-ubicacion titulo-ubicacion"
        "mapa contenido-ubicacion"
        "informativo informativo";
}

.contenedor-contacto-ubicacion>div,
.contenedor-contacto-ubicacion .titulo-contacto .contenedor-contacto-ubicacion .contenido-contacto .contenedor-contacto-ubicacion .titulo-ubicacion .contenedor-contacto-ubicacion .contenido-ubicacion {

    padding: 20px;
    border-radius: 4px;
}


.contenedor-contacto-ubicacion .titulo-contacto {

    text-align: center;
    color: black;
    grid-area: titulo-contacto;

}

.contenedor-contacto-ubicacion .contenido-contacto {
    text-align: center;
    grid-area: contenido-contacto;
}

.contenedor-contacto-ubicacion .titulo-ubicacion {

    text-align: center;
    color: black;
    grid-area: titulo-ubicacion;

}



.contenedor-contacto-ubicacion .contenido-ubicacion {

    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    grid-area: contenido-ubicacion;
}


.contenedor-contacto-ubicacion .mapa {

    color: white;
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: mapa;

}



.contenedor-contacto-ubicacion .informativo {

    color: black;
    grid-area: informativo;

}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    .contenedor-contacto-ubicacion {
        grid-template-areas: "titulo-contacto titulo-contacto"
            "contenido-contacto contenido-contacto"
            "titulo-ubicacion titulo-ubicacion"
            "contenido-ubicacion contenido-ubicacion"
            "mapa mapa"
            "informativo informativo";


    }

    .contenido-contacto {
        text-align: center;

    }

    .contenido-ubicacion {
        padding-left: 170px;

    }
}

@media screen and (max-width: 600px) {
    .contenedor-contacto-ubicacion {
        grid-template-areas: "titulo-contacto titulo-contacto"
            "contenido-contacto contenido-contacto"
            "titulo-ubicacion titulo-ubicacion"
            "contenido-ubicacion contenido-ubicacion"
            "mapa mapa"
            "informativo informativo";



    }

    .contenido-contacto {
        padding-left: 50px;
    }

    .contenido-ubicacion {
        width: 90%;
    }
}